<div class="filtros-panel">
    <!-- Buscador por texto en tiempo real -->
    <div class="input-group">
        <input type="text" [(ngModel)]="buscarTexto" (input)="notificarCambio()" placeholder="Buscar manga por título..." class="control-buscar" />
    </div>

    <div class="selects-group">
        <!-- Selector dinámico de Géneros -->
        <app-select-personalizado [opciones]="generos" [valor]="generoSeleccionado" placeholder="Todos los géneros" (valorChange)="generoSeleccionado = $event; notificarCambio()">
        </app-select-personalizado>

        <!-- Selector de Estados del manual de marca -->
        <app-select-personalizado [opciones]="opcionesEstado" [valor]="estadoSeleccionado" placeholder="Todos los estados" (valorChange)="estadoSeleccionado = $event; notificarCambio()">
        </app-select-personalizado>
    </div>
</div>