<div class="card h-100 manga-card shadow-sm" (click)="verDetalles()">

    <!-- Estado -->
    <span class="badge" [ngClass]="manga.estado.toLowerCase()">
        {{ manga.estado }}
    </span>

    <!-- Portada -->
    <div class="portada-wrapper">
        <img [src]="manga.portadaUrl" [alt]="manga.titulo" class="manga-img">
    </div>

    <!-- Información -->
    <div class="manga-info">

        <h3 class="manga-titulo text-uppercase">
            {{ manga.titulo }}
        </h3>

        <div class="generos-tags">
            <span *ngFor="let g of manga.generos" class="genero-tag">

                {{ g }}

            </span>
        </div>

        <div class="manga-footer">

            <button class="btn-detalles" (click)="verDetalles(); $event.stopPropagation()">

                Ver detalles

            </button>

        </div>

    </div>

</div>